.menu-acco {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;

  @include phones {
    justify-content: flex-end;
    width: 100%;
  }
}

.menu-acco__item {
  position: relative;
  display: flex;
  z-index: 10;

  &.active {
    @include phones {
      z-index: 20;
      position: absolute;
      width: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    .menu-acco__trigger-text {
      color: $yellow;
    }

    .menu-acco__text {
      transform: translate(0);
      opacity: 1;
    }

    .menu-acco__dec {
      position: absolute;
      opacity: 0.8;
      top: 0;
      bottom: 0;
      right: 0;
      display: block;
      z-index: -10;

      @include phones {
        right: 130px;
      }

      .menu-acco__trigger-text {
        color: #fff;
      }
    }

    .menu-acco__close {
      @include phones {
        display: block;
        text-align: right;
      }
    }

    .menu-acco__content {
      max-width: rem(540px);
      flex: 1;
    }

    @include tablets {

      .menu-acco__content {
        max-width: rem(530px);
      }
    }
  }
}

.menu-acco__trigger {
  width: rem(80px);
  background-size: cover;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(20, 20, 20, 0.7);
  }

  &_m {
    background-position: center;
  }

  &_v {
    background-position-x: 160px;
  }

  &_d {
    background-position: right;
  }

  @include tablets {
    min-width: 60px;
  }

  @include phones {
    min-width: 50px;
  }
}

.menu-acco__dec {
  display: none;
}

.menu-acco__trigger-text {
  font-size: rem(40px);
  color: #fff;
  @include gagalin;
  white-space: nowrap;
  position: absolute;
  transform: rotate(-90deg) translateY(-50%);
  transform-origin: 0 0;
  left: 50%;
  bottom: -3%;
}

.menu-acco__content {
  background: rgba(#2f3234, 0.93);
  max-width: 0;
  overflow: hidden;
  transition: max-width 1s;
}

.menu-acco__close {
  display: none;
}

.menu-acco__text {
  @include ubuntu(light);
  line-height: 1.76em;
  font-size: rem(14px);
  color: #fff;
  padding: rem(55px) rem(34px);
  opacity: 0;
  transform: translate(200%);
  transition: transform 1s, opacity 3s;

  @include phones {
    padding: rem(25px) rem(15px);
  }
}
