.menu-acco {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;

  @include phones {
    justify-content: flex-end;
    width: 100%;
  }
}

.menu-acco__item {
  position: relative;
  display: flex;
  z-index: 10;

  &.active {
    @include phones {
      z-index: 20;
      position: absolute;
      width: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    .menu-acco__trigger:nth-child(2) {
      display: block;

      &-text {
        color: #fff;
      }
    }

    .menu-acco__trigger-text {
      color: $yellow;
    }

    .menu-acco__text {
      position: initial;
      transform: translate(0);
      opacity: 1;
    }

    .menu-acco__close {
      @include phones {
        display: block;
      }
    }

    .menu-acco__content {
      max-width: rem(540px);
      flex: 1;
    }

    @include tablets {
      .menu-acco__content {
        max-width: rem(530px);
      }
    }
  }
}

.menu-acco__trigger {
  width: rem(80px);
  background-size: cover;
  position: relative;

  &:nth-child(2) {
    display: none;
    position: absolute;
    opacity: 0.8;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -10;

    @include phones {
      right: 130px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(20, 20, 20, 0.7);
  }

  &--meat {
    background-image: url("../img/bg/menu/meats.jpg");
    background-position: center;
  }

  &--vegans {
    background-image: url("../img/bg/menu/vegans.jpg");
    background-position-x: 160px;
  }

  &--diet {
    background-image: url("../img/bg/menu/diets.jpg");
    background-position: right;
  }

  @include tablets {
    min-width: 60px;
  }

  @include phones {
    min-width: 50px;
  }
}

.menu-acco__trigger-text {
  font-size: rem(40px);
  color: #fff;
  @include gagalin;
  white-space: nowrap;
  position: absolute;
  transform: rotate(-90deg) translateY(-50%);
  transform-origin: 0 0;
  left: 50%;
  bottom: -3%;
}

.menu-acco__content {
  background: rgba(#2f3234, 0.93);
  max-width: 0;
  overflow: hidden;
  transition: max-width 1s;
}

.menu-acco__close {
  display: none;
  position: absolute;
  z-index: 100;
  right: 3%;
  top: 3%;
  display: none;
}

.menu-acco__text {
  position: absolute;
  @include ubuntu(light);
  line-height: 1.76em;
  font-size: rem(14px);
  color: #fff;
  padding: rem(55px) rem(34px);
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 4s cubic-bezier(0.645, 0.045, 0.355, 1),
    transform 3s cubic-bezier(0.645, 0.045, 0.355, 1);

  @include phones {
    padding: rem(75px) rem(15px);
  }
}
